.ant-select-item-option-content {
  color: white;
}

.ant-select-item-option-content:hover {
  color: #13f3c9;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  cursor: text;
  border-radius: 8px;
  height: 39px;
  background-color: #fff;
  color: #000;
  box-shadow: none !important
}

.ant-select-single .ant-select-selector .ant-select-selection-search-input {
  width: 100%;
  border-radius: 8px;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input {
  cursor: n-resize;
  border: none !important;
}

.ant-dropdown {
  z-index: 99999 !important;
}

.market-cap {
  width: 95%;
}

.market-cap span.ant-input-wrapper.ant-input-group {
  height: 40px;
}

.market-cap input.ant-input {
  height: 40px;
  border-radius: 8px;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-right: 18px;
  font-size: 15px !important;
  font-weight: 800 !important;
  font-family: Comfortaa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.market-cap span.ant-input-group-addon {
  background: #1a1f20;
  border: none;
  border-radius: 8px;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

span.ant-input-group-addon {
  background: transparent !important;
  left: 0 !important;
}

.search-input {
  width: 95%;
}

.search-input.ant-input-group-wrapper-lg button {
  background: #1a1f20;
  border-color: #1a1f2000;
  border-radius: 0 8px 8px 0 !important;
}

.bold-content {
  font-size: 14px !important;
  font-weight: 800 !important;
  font-family: Comfortaa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.optionDrop {
  display: flex;
  align-items: center;
  color: #fff;
  height: 110%;
}

img.imgHover {
  position: relative;
  z-index: 999999;
}

.ant-checkbox {
  background: transparent;
  border: 1px solid;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00bf98;
  border: none;
  outline: 1px solid #00bf98;
  outline-offset: 2px;
}

.ant-space.ant-space-horizontal.ant-space-align-center {
  gap: unset;
}

.optionDrop .ant-space.ant-space-horizontal.ant-space-align-center {
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  line-height: 12px;
}

.optionDrop .ant-space.ant-space-horizontal.ant-space-align-center .ant-space-item:first-child {
  width: 100%;
  text-align: center;
}

.CheckGroup {
  display: flex;
  flex-direction: column;
  background: #212128 !important;
  color: white;
  padding: 10px;
}

.CheckGroup .ant-checkbox-wrapper {
  color: white;
}

.multibutton-radio .ant-radio-group.ant-radio-group-solid.coinsTab {
  width: 95%;
  border: 1px solid #1a1f20;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.multibutton-radio .ant-radio-group.ant-radio-group-solid.coinsTab label {
  flex-basis: 50%;
  text-align: center;
  height: 39px;
  line-height: 38px;
  font-size: 15px !important;
  font-weight: 800 !important;
  font-family: Comfortaa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.multibutton-radio .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #1a1f20;
  border-color: #1a1f20fa;
}

.coinsTab label.ant-radio-button-wrapper:first-child {
  border-radius: 7px 0 0 7px;
}

.coinsTab label.ant-radio-button-wrapper:last-child {
  border-radius: 0 7px 7px 0;
}

.save-button:hover {
  color: #fff !important;
}

.multibutton-radio .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: #1a1f20;
}

.custom-drop-1 {
  width: 100%;
  justify-content: space-between !important;
  padding: 0 5px;
}

.button-d-set {
  display: flex;
}

.filter-box {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.button-d-set a.ant-dropdown-trigger.optionDrop {
  background-color: #1a1f20;
  border-radius: 8px;
  padding: 4px;
  border-width: 0;
  width: 95%;
  height: 41px;
}

.button-d-set .ant-space.ant-space-horizontal.ant-space-align-center {
  gap: 0 !important;
}

.button-d-set .ant-select.ant-select-single.ant-select-show-arrow {
  background-color: #1a1f20;
  border-radius: 8px;
  padding: 4px;
  border-width: 0;
  width: 95%;
}

.ant-table-column-sorter {
  display: none;
}

.responsive-table {
  margin: 4px 24px;
  margin-bottom: 0;
}

.scroller-1 {
  background: #0a0b0e;
  padding: 20px 24px;
}

.scroller-parent {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #0a0b0e;
}

.responsive-table .ant-table-header {
  position: sticky !important;
  top: 79px;
  z-index: 999;
}

.pro-btn1 {
  background-color: #2ed8a7;
  color: #000;
  font-size: 12px;
  border-radius: 20px;
  line-height: 1;
  display: inline-block;
  padding: 4px 6px 0 6px;
}

.pro-btn {
  background-color: #2ed8a7;
  color: #000;
  font-size: 12px;
  border-radius: 20px;
  line-height: 1;
  display: inline-block;
  padding: 2px 6px 3px 6px;
}

.sidebar-menu a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.responsive-table .ant-table-container {
  position: relative !important;
  display: block !important;
}

.responsive-table .ant-pagination-options {
  display: none;
}

.responsive-table .ant-table {
  background: #0a0b0e !important;
  border-radius: 0;
}

.responsive-table .ant-table-content {
  height: 60vh;
  overflow: auto !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.responsive-table .ant-table-content::-webkit-scrollbar {
  height: 8px;
  width: 0;
}

.responsive-table .ant-table-container::-webkit-scrollbar {
  height: 8px;
}

.responsive-table .ant-table-container .ant-table-body::-webkit-scrollbar {
  height: 8px;
  width: 0;
}

.responsive-table td.ant-table-cell span {
  justify-content: start !important;
}

.responsive-table .ant-table-content > table {
  background: #0a0b0e !important;
  border-radius: 0;
}

.ant-table-container table > tbody > tr:last-child td {
  border-bottom: none !important;
}

.responsive-table .ant-table-content > table .ant-table-thead {
  background: #00000000 !important;
}

.responsive-table .ant-table-container table > thead > tr > th {
  border-right: 1px solid #333;
  background: #0a0b0e !important;
}

.responsive-table .ant-table-container table > thead > tr:nth-child(1) th {
  padding: 10px 16px !important;
  font-size: 18px;
  font-weight: 500;
  font-family: "Dosis", serif;
  border-right: none;
  text-align: left !important;
}

.responsive-table .ant-table-container table > thead > tr {
  position: relative;
}

.responsive-table .ant-table-container table > thead > tr:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 114%;
  background-color: #0a0b0e00;
  z-index: 99999999;
  right: 0;
  top: -5px;
}

.responsive-table .ant-table-tbody > tr > td {
  text-align: left !important;
}

.responsive-table .ant-table-tbody > tr > td:last-child {
  width: 220px;
}

.responsive-table .ant-table-tbody > tr > td:nth-child(1) {
  width: 100px !important;
}

.responsive-table .ant-table-tbody > tr > td:nth-child(2) {
  width: 180px !important;
}

.crypto-coin-icon {
  height: 40px !important;
  width: 40px;
}

.name-slogan a {
  font-size: 16px;
  font-weight: 800;
}

.name-slogan p {
  margin-bottom: 0;
  font-size: 14px;
  color: silver;
  font-weight: 400;
}

.responsive-table .ant-pagination-next .ant-pagination-item-link,
.responsive-table .ant-pagination-prev .ant-pagination-item-link {
  border: none;
}

.responsive-table .ant-pagination-item {
  border: none;
  background: none;
}

.responsive-table .ant-pagination-item a {
  background: none;
  color: #fff;
}

.responsive-table .ant-pagination-item-active {
  background: #343f40;
  border-radius: 50%;
}

.ant-checkbox + span {
  padding: 8px;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  box-shadow: none !important;
}

.responsive-table .ant-table-cell-fix-left {
  background: #0a0b0e !important;
}

.responsive-table .ant-table-column-sort {
  background: transparent !important;
}

.remove-filter,
.remove-filter:hover,
.remove-filter:focus {
  background-color: #2ed8a7;
  border-radius: 8px;
  padding: 4px;
  font-size: 14px;
  border-width: 0;
  width: 95%;
  height: 41px;
  color: #000;
  font-weight: bold;
}

@media (max-width: 992px) {
  .scroller-parent {
    width: 100%;
    overflow-x: scroll;
  }

  .scroller-1 {
    width: 1295px;
    column-gap: 10px;
    flex-wrap: nowrap;
    margin-right: 50px !important;
  }

  .mobile-w-100.ant-input-group-wrapper-lg {
    width: 100% !important;
  }

  .scroller-parent::-webkit-scrollbar {
    height: 5px;
  }
}

@media (min-width: 993px) and (max-width: 1242px) {
  .scroller-1 {
    width: 1295px;
    column-gap: 10px;
    flex-wrap: nowrap;
    margin-right: 50px !important;
  }

  .scroller-parent {
    width: 100%;
    overflow-x: scroll;
  }

  .mobile-w-100.ant-input-group-wrapper-lg {
    width: 100% !important;
  }

  .scroller-parent::-webkit-scrollbar {
    height: 5px;
  }
}

@media (min-width: 280px) and (max-width: 768px) {
  .crypto-coin-icon {
    height: 25px !important;
    width: 25px;
  }

  span.name-slogan a {
    font-size: 14px !important;
  }

  .responsive-table .ant-table-container table > thead > tr:nth-child(1) th {
    font-size: 17px;
  }

  .name-slogan p {
    font-size: 13px;
  }
}

@media (min-width: 280px) and (max-width: 1220px) {
  .mobil_min {
    min-width: 420px;
  }
}

@media (min-width: 250px) and (max-width: 390px) {
  .responsive-table {
    margin: 20px 0;
  }

  .responsive-table .ant-table-tbody > tr > td:nth-child(1) {
    width: 50px !important;
    padding-left: 0;
  }

  .responsive-table .ant-table-tbody > tr > td:nth-child(2) {
    width: 140px !important;
    padding: 10px;
  }

  .responsive-table .ant-table-tbody > tr > td:nth-child(1) span.anticon.anticon-star {
    display: none;
  }
}

.ant-table-wrapper.responsive-table span.ant-table-column-title span {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.ant-tooltip-inner {
  min-width: 30px;
  min-height: 32px;
  padding: 6px 8px;
  color: black;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}

.category_drop li.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  box-shadow: 0 0 0 2px #bae7ff;
  background-color: #1a1f20;
}

.category_drop li.ant-menu-item.ant-menu-item-active.ant-menu-item-selected.ant-menu-item-only-child {
  box-shadow: 0 0 0 2px #bae7ff;
  background-color: #1a1f20;
}

.category_drop article {
  background: #212128;
  text-align: center;
  padding: 11px 0 !important;
}

.ant-dropdown .ant-input-affix-wrapper {
  background: #212128;
  color: white;
  border: 1px solid white;
}

.ant-dropdown .ant-input-affix-wrapper input {
  background: #212128;
  color: white;
}

.customTabs .ant-tabs-content-holder {
  margin: 1rem 1.5rem 0 0.8rem;
}

.customTabs .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane {
  border-radius: 8px !important;
}

.customTabs .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane .ant-row {
  border-top: none !important;
  margin-left: 2px !important;
}

.customTabs .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane .daysDrop:last-child {
  border-right: none !important;
}

.customTabs .mob_scroll {
  background: #212128;
  width: fit-content;
  border-radius: 8px;
}

.scroller-parent .flex-tab {
  align-items: center;
  gap: 5px;
  justify-content: center;
}

@media (max-width: 1000px) and (max-height: 450px) {
  .customTabs .input-scroll {
    justify-content: space-around;
    overflow: hidden;
  }

  .customTabs .input-scroll .formula-input1 {
    margin: 15px 0 !important;
  }
}

.dxsl-tooltip {
  z-index: 999999999;
}

@media screen and (max-width: 550px) {
  .customTabs .mob_scroll {
    width: auto !important;
  }
}

.btn_mrkt {
  min-width: 190px;
}
